<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cp.admin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/application_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Update_Product_Activity"
            android:label="Update Product"
            android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Delete_Product_Activity"
            android:label="Delete Product" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Profile_Activity"
            android:label="Profile" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Settings_Activity"
            android:label="Settings" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".About_Activity"
            android:label="About" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Order_List_Activity"
            android:label="Order List" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Scan_QR_Code_Activity"
            android:label="Scan QR Code" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Add_Product_Activity"
            android:label="Add Product" android:parentActivityName="com.example.cp.admin.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cp.admin.MainActivity" />
        </activity>
        <activity android:name=".Barcode_MainActivity">
        </activity>
        <activity android:name=".BarcodeCaptureActivity">

        </activity>
    </application>

</manifest>